<% if @channel.active_video %>
  <div class="video" data-uid="<%= @channel.active_video.uid %>">
    <blockquote>
      <p>
        Now playing<br />
        <strong><%= @channel.active_video.title %></strong>
      </p>
      <footer><%= link_to @channel.active_video.link, @channel.active_video.link, target: "_blank" %></footer>
    </blockquote>
  </div>
<% else %>
  <blockquote>
    <p>No active video</p>
  </blockquote>
<% end %>
