<%= link_to play_video_path, remote: true, method: :get, class: "btn btn-success btn-play" do %>
  <span class="glyphicon glyphicon-film"></span> Sync
<% end %>

<%= link_to '#', class: "btn btn-danger btn-stop" do %>
  <span class="glyphicon glyphicon-off"></span> Stop
<% end %>

<% if @channel.user == current_or_guest_user %>
  <%= link_to next_video_path, remote: true, method: :post, class: "btn btn-default btn-next" do %>
    <span class="glyphicon glyphicon-step-forward"></span> Next
  <% end %>
<% end %>
