if($("#channel").hasClass("synced")) {
  <% if @channel.active_video %>
    channel.loadVideo("<%= @channel.active_video.uid %>", <%= @channel.active_video.played_at.utc.to_i * 1000 %>)
    $("#player-wrapper").slideDown()
  <% else %>
    $("#player-wrapper").slideUp(400, function() {
      channel.ytplayer.stopVideo()
    })
  <% end %>
}
$("#active-video > .content").html("<%= j (render partial: 'active_video') %>")
