<li class="list-group-item">
  <div class="video">
    <div class="image">
      <%= image_tag "https://img.youtube.com/vi/#{video.uid}/default.jpg" %>
    </div>
    <div class="text">
      <%= form_tag(add_video_path(@channel), remote: true, method: :post) do %>
        <%= hidden_field_tag :uid, video.uid %>
        <%= hidden_field_tag :title, video.title %>
        <%= button_tag type: :submit, class: "btn btn-link" do %>
          <%= video.title %>
        <% end %>
      <% end %>
    </div>
  </div>
</li>
