<li class="list-group-item">
  <div class="video">
    <div class="image">
      <%= image_tag "https://img.youtube.com/vi/#{video.uid}/default.jpg" %>
    </div>
    <div class="text">
      <div class="pull-left">
        <%= link_to video.title, video.link, class: "btn btn-link", target: '_blank' %>
      </div>
      <div class="pull-right">
        <span class="badge"><%= video.cached_weighted_score %></span>
        <% if current_or_guest_user.liked? video %>
          <%= link_to unvote_video_path(video.channel, video), class: "btn btn-default active", remote: true, method: :post do %>
            <span class="glyphicon glyphicon-chevron-up"></span>
          <% end %>
        <% else %>
          <%= link_to upvote_video_path(video.channel, video), class: "btn btn-default", remote: true, method: :post do %>
            <span class="glyphicon glyphicon-chevron-up"></span>
          <% end %>
        <% end %>
        <% if current_or_guest_user == video.user || current_or_guest_user == video.channel.user %>
          <%= link_to remove_video_path(video.channel, video), class: "btn btn-default", remote: true, method: :delete do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        <% end %>
      </div>
    </div>
</li>
