<h2>Create your channel</h2>
<div class="well">
  <%= simple_form_for @channel do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.button :submit, class: "btn-primary" %>
  <% end %>
</div>
