<%= subscribe_to "/channels/#{@channel.slug}" %>
<%= javascript_include_tag "https://www.youtube.com/iframe_api" %>

<div id="channel" class="<%= @channel.user == current_or_guest_user ? 'admin' : 'visitor' %>">
  <div id="channel-info" class="row">
    <div class="col-xs-12">
      <h1><%= @channel.title %></h1>
      <div class="lead"><%= simple_format(@channel.description) %></div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">

      <div id="player-wrapper" class="embed-responsive embed-responsive-16by9">
        <div id="player" class="embed-responsive-item" data-url="<%= play_video_path %>"></div>
      </div>

      <div id="active-video-wrapper" class="row">
        <div class="col-xs-12">
          <div id="active-video">
            <div class="content">
              <%= render partial: "active_video" %>
            </div>
            <div id="player-controls">
              <div class="content">
                <%= render partial: "player_controls" %>
              </div>
            </div>
          </div>
          <br />
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div id="search-wrapper" class="row">
        <div class="col-xs-12">
          <div class="well">
            <%= form_tag(search_video_path, remote: true, method: :get) do %>
            <div class="input-group">
              <%= search_field_tag :q, nil, class: "form-control" %>
              <span class="input-group-btn">
                <%= button_tag type: :submit, class: "btn btn-default" do %>
                <span class="glyphicon glyphicon-search"></span>
                <% end %>
              </span>
            </div>
            <% end %>
            <div id="search-results">
              <br />
              <div class="content list-group"></div>
              <div class="text-center">
                <%= link_to "#", onclick: 'channel.hideSearchResults()', class:"small" do %>
                hide results
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="playlist-wrapper" class="row">
        <div class="col-xs-12">
          <h3>Playlist</h3>
          <ul id="playlist" class="list-group" data-url="<%= channel_playlist_path %>"></ul>
        </div>
      </div>
    </div>
  </div>
