<%= content_for :page_title, 'VIDJ - crowdsource your playlist' %>


<h1>VIDJ</h1>
<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mattis justo vitae justo bibendum, sit amet rhoncus erat viverra. Proin at dui ut lacus pretium imperdiet. Mauris ut lectus facilisis, eleifend felis pellentesque, commodo augue. Donec nec dictum velit. Nulla luctus metus a luctus ornare. Phasellus id ex fermentum, mattis enim in, efficitur quam.</p>
<%= link_to "Create a new channel", new_channel_path, class: "btn btn-primary" %>
