# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://coffeescript.org/
window.channel ||= {}

$ ->
  channel.ytPlayerLoaded = false
  channel.loadVideo = (uid, timestamp=0) ->
    start = Math.round((Date.now() - timestamp) / 1000)
    if !channel.ytPlayerLoaded
      channel.ytplayer = new YT.Player('player', {
        width: '480'
        height: '360'
        videoId: uid
        playerVars: {
          wmode: 'opaque'
          autoplay: 1
          modestbranding: 1
          rel: 0
          showinfo: 0
          controls: 2
          color: 'white'
          theme: 'light'
          start: start
          iv_load_policy: 3 # hide video annotations
        }
        events: {
          'onReady': ->
            channel.ytPlayerLoaded = true
            $("#player-wrapper").slideDown()
          'onStateChange': (event) ->
            if event.data == YT.PlayerState.ENDED
              $("#player-controls .btn-next").click()
        }

        })
    else
      channel.ytplayer.loadVideoById(uid, start)

  channel.hideSearchResults = () ->
    $("#search-results").slideUp 400, () ->
      $("#search-results .content").empty()

  channel.updatePlaylist = () ->
    $.ajax
      headers: "X-CSRF-Token": $("meta[name='csrf-token']").attr("content")
      type: "GET"
      url: $("#playlist").data("url")

  channel.updateActiveVideo = () ->
    $.ajax
      headers: "X-CSRF-Token": $("meta[name='csrf-token']").attr("content")
      type: "GET"
      url: $("#player").data("url")

  channel.updatePlaylist()

  $("#player-controls .btn-play").click () ->
    $("#channel").addClass("synced")

  $("#player-controls .btn-stop").click () ->
    $("#channel").removeClass("synced")
    $("#player-wrapper").slideUp 400, () ->
      channel.ytplayer.pauseVideo() if channel.ytPlayerLoaded

  $(document).ajaxComplete (event, request) ->
    messages = $.parseJSON request.getResponseHeader("X-Flash-Messages")
    $.each messages, (type, message) ->
      $.gritter.add
        title: " "
        text: message
        image: "<%= image_path('success.png') %>"
        time: 3000
