.playlist .ui.list {
  background-color: #eee;
  margin: 0;
}

.playlist .ui.list > .item {
  background-color: white;
}

.playlist .ui.list > .item:first-child {
  padding-top: 0.21428571em;
}

.playlist .ui.list > .item:last-child {
  padding-bottom: 0.21428571em;
}
