// Place all the styles related to the Channel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$thumb-height: 90px;

#channel > .row {
  margin-bottom: 1em;
}

#player-wrapper {
  display: none;
  background: #000;
}



#search-results {
  display: none;
  .content {
    // line-height: $thumb-height;
    form {
      display: inline-block;
      button {
        white-space: normal;
        text-align: left;
      }
    }
  }
}

.list-group-item {
  display: table;
  width: 100%;
  border-bottom: 1px solid #ccc;
  .video {
    display: table-row;
    overflow: hidden;
    .image {
      // display: table-cell;
      vertical-align: middle;
      // width: 30%;
      padding-right: 1em;
      img {
        display: block;
        // max-width: 100%;
      }
    }
    .text {
      display: table-cell;
      vertical-align: middle;
      width: 80%;
      a.btn.btn-link {
        white-space: normal;
        text-align: left;
      }
    }


  }
}

table {
  tr.video td {
    vertical-align: middle;
  }
}


#channel {

  #player-controls {
    .btn-stop {
      display: none;
    }
  }

  &.admin {

  }
  &.visitor {

  }
  &.synced {
    #player-controls .btn-play {
      // display: none;
    }
    #player-controls .btn-stop {
      display: inline-block;
    }
  }
}
