@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

img {
  max-width: 100%;
}
